<div style="margin-top:40px;" class="skin-red-light">
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
        <li><a [routerLink]="['/home']"><i class="fa fa-circle-o"></i> Endava events</a></li>
        <li class="treeview">
            <a [routerLink]="['/transactions-list']">
                <i class="fa fa-envelope"></i> <span>View Mood chart :)</span>
            </a>
            <div style="clear:both"></div>
            <span class="pull-right-container" style="clear:both">
            </span>

            <div style="clear:both"></div>
        </li>
        <li>
            <a [routerLink]="['/transaction']">
                <i class="fa fa-th"></i> <span>Test photo</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green">new</small>
                </span>
            </a>
        </li>

    </ul>
</div>