<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,                 Microsoft.Practices.Unity.Configuration" />
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IServiceProxy" type="CognitiveServiceProxy.IServiceProxy, CognitiveServiceProxy" />
    <alias alias="ServiceProxyCognitiveAzure" type="CognitiveServiceProxy.ServiceProxyCognitiveAzure, CognitiveServiceProxy" />
    
    <alias alias="IEmotionService" type="HappyMeter.Services.IEmotionService,HappyMeter.Models" />
    <alias alias="EmotionService" type="HappyMeter.Services.EmotionService,HappyMeter.Services" />
    <alias alias="EmotionFileService" type="HappyMeter.Services.EmotionFileService,HappyMeter.Services" />

    <alias alias="IMLService" type="CognitiveServiceProxy.IMLService, CognitiveServiceProxy" />
    <alias alias="MLService" type="CognitiveServiceProxy.MLService, CognitiveServiceProxy" />
    
    <container>
      <register type="IServiceProxy" mapTo="ServiceProxyCognitiveAzure" />
      <register type="IEmotionService" mapTo="EmotionFileService" />
      <register type="IMLService" mapTo="MLService" />
    </container>

  </unity>
  <appSettings>
    
    <add key="ApiCognitiveEmotionLink" value="https://westus.api.cognitive.microsoft.com/emotion/v1.0/recognize/" />
    <add key="ApiCognitiveFaceLink" value="https://westus.api.cognitive.microsoft.com/face/v1.0/detect?returnFaceId=true&amp;returnFaceLandmarks=true&amp;returnFaceAttributes=age,gender,headPose,smile,facialHair,glasses" />
    <add key="ApiCognitiveCVLink" value="https://westus.api.cognitive.microsoft.com/vision/v1.0/analyze?visualFeatures=Categories,Tags,Description,Faces,ImageType,Color,Adult&amp;details=Celebrities&amp;language=en" />
    
    

    <add key="ApiContentType" value="application/json" />
    <add key="ApiKeyName" value="Ocp-Apim-Subscription-Key" />
    
    <add key="ApiKeyEmotions" value="dd76e9ab540046909a63c86c177e9924" />
    <add key="ApiKeyFace" value="d7a36f2459994c9bbabfbac9ee74915a" />
    <add key="ApiKeyCV" value="37e63e8b4407414988d452eac185fffc" />
    

    <add key="SourceFolder" value="D:\\pictures\\Endava-small\\" />
    <add key="SaveFolder" value="D:\\pictures\\saveResults\\" />
    <add key="ImageLink" value="http://searchengine.mironica.ro/db.caltech/Faces/image_0059.jpg" />

    <add key="endpointUri" value="https://happymeter.documents.azure.com:443/" />
    <add key="primaryKey" value="2zFH2PKIMm9kPp84PTvQKU7RqW18eToauaNuoXQs6UlBJZlFTpJc0tryVZxKNZDv2xFyWr6unkeFrtCHJZzegw==" />

    <add key="db" value="local" />
    <add key="dbIp" value="mongodb://localhost:27017" />
     
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>