<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
     type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
               Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IServiceProxy" type="CognitiveServiceProxy.IServiceProxy, CognitiveServiceProxy"/>
    <alias alias="ServiceProxyCognitiveAzure" type="CognitiveServiceProxy.ServiceProxyCognitiveAzure, CognitiveServiceProxy"/>
    <container>
      <register type="IServiceProxy"
              mapTo="ServiceProxyCognitiveAzure" />
    </container>

  </unity>
  <appSettings>
    
    <add key="ApiCognitiveEmotionLink" value="https://westus.api.cognitive.microsoft.com/emotion/v1.0/recognize/" />
    <add key="ApiContentType" value="application/json" />
    <add key="ApiKeyName" value="Ocp-Apim-Subscription-Key" />
    <add key="ApiKey" value="" />

    <add key="SourceFolder" value="D:\\pictures\\Test\\" />
    <add key="SaveFolder" value="D:\\pictures\\saveResults\\" />
    <add key="ImageLink" value="http://searchengine.mironica.ro/db.caltech/Faces/image_0059.jpg" />
     
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>